<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="DBConnection" value="DBConn" />
	</appSettings>

	<connectionStrings>
	</connectionStrings>

	<system.web>
		<compilation debug="false" targetFramework="4.5.2" />
		<authentication mode="Windows" />
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
	</system.web>

	<location path="Register.aspx">
		<system.web>
			<httpRuntime requestValidationMode="2.0" />
		</system.web>
	</location>

	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxUrl="8192" maxQueryString="8192" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>