@font-face{font-family:'ralewaysemibold';src:url(/CSS/raleway-semibold-webfont.eot);src:url(/CSS/raleway-semibold-webfont.eot?#iefix) format("embedded-opentype"),url(/CSS/raleway-semibold-webfont.woff) format("woff"),url(/CSS/raleway-semibold-webfont.ttf) format("truetype"),url(/CSS/raleway-semibold-webfont.svg#ralewaysemibold) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'ralewaymedium';src:url(/CSS/raleway-medium-webfont.eot);src:url(/CSS/raleway-medium-webfont.eot?#iefix) format("embedded-opentype"),url(/CSS/raleway-medium-webfont.woff) format("woff"),url(/CSS/raleway-medium-webfont.ttf) format("truetype"),url(/CSS/raleway-medium-webfont.svg#ralewaymedium) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'ralewaybold';src:url(/CSS/raleway-bold-webfont.eot);src:url(/CSS/raleway-bold-webfont.eot?#iefix) format("embedded-opentype"),url(/CSS/raleway-bold-webfont.woff) format("woff"),url(/CSS/raleway-bold-webfont.ttf) format("truetype"),url(/CSS/raleway-bold-webfont.svg#ralewaybold) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'atlanta';src:url(/CSS/atlanta.woff) format("woff");font-weight:400;font-style:normal}

body
{
	font-family: ralewaymedium, Calibri, Arial, Tahoma;
	font-size: 14px;
	background-color: #F3F3F3;
}
input[type=button], input[type=submit]
{
	font-weight: 300;
	font-size: 16px;
	color: white;
	background-color: #E68A00;
	height: 32px;
	width: 100px;
	padding: 3px;
}
input[type=button]:hover, input[type=submit]:hover
{
	background-color: #FF1A1A !important;
}

input[type=text], input[type=password], textarea
{
	height: 21px;
}

select
{
	height: 27px;
	width: 240px;
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus
{
	box-shadow: 0 0 2px rgba(11, 203, 238, 1);
	border: 1px solid rgba(11, 203, 238, 1);
}

.Confirmation td
{
	height: 12px;
}

.Header1
{
	font-family: "Trebuchet MS", serif;
	font-size: 16px;
	font-style: italic;
	font-weight: 100;
	color: white;
	padding: 5px;
	background-color: #262827;
}
.Header1a
{
	font-size: 13px;
}
.Header1b:hover
{
	background-color: #FF1A1A;
}

.Header2
{
	font-family: "Trebuchet MS", serif;
	font-size: 20px;
	color: black;
	padding: 10px;
}
.Header2a
{
	float: right;
}

.Header3
{
	display: block;
	font-family: ralewaymedium, sans-serif;
	font-size: 32px;
	font-weight: 100;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	text-align: left;
}

@media screen and (max-width: 600px)
{
	.Header3
	{
		width: 340px;
	}
}

.Header4
{
	font-family: ralewaymedium;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.Header5
{
	font-family: ralewaymedium;
	font-size: 18px;
	font-weight: bold;
	color: orange;
}

.Header5 td
{
	border-bottom: 1px solid blue;
}

.Header6
{
	background-color: orange;
	color: black;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
}

.MenuRow
{
	background-color: #898787;
	text-align: center;
	padding: 2px;
}

.MenuButton
{
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	outline: none;
	width: 200px;
	height: 30px;
}

.Footer2
{
	font-family: "Trebuchet MS", serif;
	font-size: 12px;
	color: black;
	padding: 10px;
	background-color: lightblue; /* #898787; */
	position: fixed;
	bottom: 1px;
	width: 97%;
}

.Footer1
{
	display: normal;
	position: fixed;
	width: 98%;
	text-align: center;
	background-color: white;
	color: black;
	padding: 10px;
	bottom: 1px;
}

.DataLabel
{
	color: #E68A00;
	width: 209px;
}

.DataInput
{
	background-color: #898787;
	width: 209px;
	border: 0;
	padding: 2px;
}

.DataStatic
{
	color: blue;
	font-weight: bold;
}

.Error
{
	color: red;
	width: 500px;
}

.Info
{
	color: green;
	font-weight: bold;
}

.Note
{
	color: magenta;
	font-weight: bold;
}

.PopupBox
{
	top: 20%;
	left: 20%;
	position: fixed; /* absolute; */
	z-index: 100;
	border: 1px solid #999999;
	padding: 5px;
	background-color: #E68A00;
	color: #FFFFFF;
	-moz-box-shadow: 1px 1px 3px 1px #999;
	-webkit-box-shadow: 1px 1px 3px 1px #999;
	box-shadow: 1px 1px 3px 1px #999;
}

.PopupConfirm
{
	top: 5%;
	left: 5%;
	position: fixed; /* absolute; */
	z-index: 100;
	border: 1px solid #999999;
	padding: 5px;
	background-color: yellow;
	color: #000000;
	-moz-box-shadow: 1px 1px 3px 1px #999;
	-webkit-box-shadow: 1px 1px 3px 1px #999;
	box-shadow: 1px 1px 3px 1px #999;
}

.Popup2
{
	top: 10%;
	left: 20%;
	position: fixed; /* absolute; */
	z-index: 100;
	border: 1px solid #999999;
	padding: 5px;
	background-color: aqua;
	color: #000000;
	-moz-box-shadow: 1px 1px 3px 1px #999;
	-webkit-box-shadow: 1px 1px 3px 1px #999;
	box-shadow: 1px 1px 3px 1px #999;
}

.PopupHead
{
	background-color: lightpink;
	color: black;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
}

.HelpHead
{
	background-color: limegreen;
	color: black;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
}

.tRowHead
{
	font-family: ralewaymedium;
	font-size: 14px;
	font-weight: bold;
	color: black;
	background-color: aqua;
	border-bottom: 1px solid #000000;
}

tr td
{
	vertical-align: middle;
}
tr.tRow
{
	background-color: #E1E1E1;
}
tr.tRow:hover
{
	background-color: lightpink;
}
tr.tRowAlt
{
	background-color: #B9B9B9;
}
tr.tRowAlt:hover
{
	background-color: lightpink; /* aquamarine */
}
/*
tr.tRow td
{
	vertical-align: middle;
}
tr.tRowAlt td
{
	vertical-align: middle;
}
*/

table
{
	text-align: left;
	border-spacing: 0px;
	word-spacing: 0px;
	white-space: nowrap;
	border-collapse: collapse;
	padding: 0px;
}

tr
{
	padding: 0;
}

td
{
	vertical-align: top;
	padding: 5px;
	border: none;
}

/* Testing stuff below, not used */

.Detail
{
	font-size: 16px;
}
.Red
{
	color: red;
	font-weight: bold;
}

.ButtonRow
{
	padding: 5px;
	background-color: powderblue;
}
.Button
{
	padding: 5px;
	color: darkgreen;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	background-color: #DDCCCC;
}
.Button:hover
{
	background-color: yellow;
}
.BoxRight
{
	padding: 3px;
	border: 1px solid #000000;
	background-color: #E8E8FF;
	margin: 0px;
	margin-left: 5px;
	float: right;
}