<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCIBusiness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <PCIBusiness.Properties.Settings>
            <setting name="PCIBusiness_PinManagement_PinManagement" serializeAs="String">
                <value>https://www.mygate.co.za/Collections/1x0x0/pinManagement.cfc</value>
            </setting>
            <setting name="PCIBusiness_MyGatePayment_MyGate_DebitOrder_WebServiceService"
                serializeAs="String">
                <value>https://www.mygate.co.za/console/includes/debitorders/functions/MyGate_DebitOrder_WebService.cfc</value>
            </setting>
            <setting name="PCIBusiness_IkajoService_PtCardService" serializeAs="String">
                <value>https://secure.payinspect.com/pt-card/index.php</value>
            </setting>
            <setting name="PCIBusiness_za_co_paygate_secure_PayVault" serializeAs="String">
                <value>https://secure.paygate.co.za/PayVault/process.trans</value>
            </setting>
        </PCIBusiness.Properties.Settings>
    </applicationSettings>
</configuration>